@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Karrik';
  src: url('./assets/fonts/WOFF2/Karrik-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karrik';
  src: url('./assets/fonts/WOFF2/Karrik-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
